<!DOCTYPE html>


<html lang="en-US" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
<head>

    <title>Social - Thoughts on sharing, creating, analyzing and converting with social media.</title>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="profile" href="http://gmpg.org/xfn/11">
    <link href="//brick.a.ssl.fastly.net/Merriweather:400,900,400i,900i/Open+Sans:300,400,700,300i,400i,700i" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700" rel="stylesheet" type="text/css">

    <!-- Favicon and Feed -->
    <link rel="shortcut icon" type="image/png" href="{{asset "/images/favicon.png"}}">

    <!--  iPhone Web App Home Screen Icon -->
    <link rel="apple-touch-icon" sizes="72x72" href="{{asset "/images/buffer-icon-ipad.png.png"}}" />
    <link rel="apple-touch-icon" sizes="114x114" href="{{asset "/images/buffer-icon-retina.png.png"}}" />
    <link rel="apple-touch-icon" href="{{asset "/images/buffer-icon.png.png"}}" />

    <meta name="google-site-verification" content="9uFRHFlYNMuO9QztCuqFRQ0KwWNwhTst7zCE69nY33U" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Social - Thoughts on sharing, creating, analyzing and converting with social media." />
    <meta property="og:url" content="https://blog.bufferapp.com" />
    <meta property="og:site_name" content="Social" />
    <meta property="fb:admins" content="42900706" />

    <script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>

    <!--{{! Styles'n'Scripts }}-->
    <link rel="stylesheet" id="buffer-style-css"  href="{{asset "css/style.css"}}" type="text/css" media="all" />

    <script type='text/javascript' src='{{asset "/js/header.js"}}'></script>

    <!--google custom search script-->
    <script>
        (function() {
            var cx = '005620281574003891439:av3mtatgplo';
            var gcse = document.createElement('script');
            gcse.type = 'text/javascript';
            gcse.async = true;
            gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
                    '//www.google.com/cse/cse.js?cx=' + cx;
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(gcse, s);
        })();
    </script>

    {{ghost_head}}
</head>
<body class="{{block "classes"}}">

    <nav id="nav-wrap" role="navigation">
        <ul class="top-nav">
            <a href="http://bufferapp.com/?utm_source=blog&utm_medium=Social&utm_campaign=header-logo"><li>Buffer</li></a>
            <li rel="social" class="current"><a class="social rollover" href="{{url absolute="true"}}">Social</a></li>
            <li rel="open"><a class="open rollover" href="http://open.bufferapp.com/?utm_source=blog&utm_medium=Social&utm_campaign=nav-open">Open</a></li>
            <li rel="overflow"><a class="overflow rollover" href="http://overflow.bufferapp.com/?utm_source=blog&utm_medium=Social&utm_campaign=nav-overflow">Overflow</a></li>
            <li rel="happiness"><a class="happiness rollover">Happiness</a></li>
        </ul>
    </nav><!-- #navigation -->

    <div id="page" class="hfeed site">

        <header id="masthead" class="site-header" role="banner">
            <div class="site-branding">
                <a href="{{url absolute="true"}}" rel="home Social" class="site-title"><span class="logotype"></span>Social</a>
                <div class="tagline">Thoughts on sharing, creating, analyzing and converting with social media.</div>
            </div>

            <div class="header-sign-up">Buffer makes managing social media fun and easy. <a href="http://bufferapp.com/?utm_source=blog&utm_medium=Social&utm_campaign=header-sign-up">Sign Up. It’s Free.</a></div>

        </header><!-- #masthead -->

        <div id="content" class="site-content">

        {{{body}}}

        </div><!-- #content -->

        <div class="newsletter-cta">
            <h1 class="newsletter-cta-h1">Awesome, actionable social media advice. Delivered daily. </h1>
            <h2 class="newsletter-cta-h2">Join 31,012 good-looking folks who get our latest content first :)</h2>
            <form id="mc-embedded-subscribe-form" class="newsletter-cta-form validate" action="http://bufferapp.us7.list-manage.com/subscribe/post?u=8109206415f7c9e3b2ddc83ad&amp;id=603a8a5c03" method="post" name="mc-embedded-subscribe-form" target="_blank" novalidate>
                <div style="display: none;">
                    <div class="response" id="mce-error-response" style="display:none"></div>
                    <div class="response" id="mce-success-response" style="display:none"></div>
                </div>
                <input id="mce-EMAIL" class="newsletter-cta-input required email" type="email" value="" name="EMAIL" placeholder="Email Address" />
                <input id="MMERGE3" name="MMERGE3" type="hidden" value="blog-newsletter-cta" />
                <button id="emailsubscribe" class="newsletter-cta-button" alt="Subscribe" name="Subscribe" type="submit"></button>
                <div class="newsletter-cta-caption">And don’t worry, we hate spam too! You can unsubscribe at anytime.</div>
            </form>
        </div>

        <!--Google Custom Search bar-->
        <div><gcse:search ></gcse:search></div>
        <!--Override Google Custom Search style-->
        <link rel="stylesheet" href="{{asset "css/search.css"}}" type="text/css" media="all" />

        <footer class="about-buffer footer" role="contentinfo">
            <p class="about-blurb">Buffer helps you manage multiple social media accounts at once. Quickly schedule content from anywhere on the web, collaborate with team members, and analyze rich statistics on how your posts perform.</p>
            <a class="footer-signup" href="http://bufferapp.com/?utm_source=blog&utm_medium=Social&utm_campaign=footer-sign-up">Sign Up. It's Free.</a>
            <a class="footer-learn-more" href="http://bufferapp.com/about/?utm_source=blog&utm_medium=Social&utm_campaign=footer-learn-more">or Learn More</a><br>
        </footer><!-- #colophon -->

    </div><!-- #page -->

    {{ghost_foot}}

     <!--/// LOAD CHARTBEAT ///-->
    <script type="text/javascript">
        var _sf_async_config={};
        _sf_async_config.uid = 55399;
        _sf_async_config.useCanonical = true;

        (function(){
            function loadChartbeat() {
                window._sf_endpt=(new Date()).getTime();
                var e = document.createElement('script');
                e.setAttribute('language', 'javascript');
                e.setAttribute('type', 'text/javascript');
                e.setAttribute('src',
                                (("https:" == document.location.protocol) ? "https://" : "http://") +
                                "static.chartbeat.com/js/chartbeat.js");
                document.body.appendChild(e);
            }
            var oldonload = window.onload;
            window.onload = (typeof window.onload != 'function') ?
                    loadChartbeat : function() { try { oldonload(); } catch (e) { loadChartbeat(); throw e} loadChartbeat(); };
        })();
    </script>

    <div id="scrolltriggered" style="width: 450px;right: 10px;">
        <div id="inscroll">
            <a href="#close" id="closebox">x</a><h5>Join 31,012 other awesome people who get new posts by email! Learn about:</h5>
            <ul>
                <li>Unique Social Media tips and strategies</li>
                <li>Productivity tricks and hacks that will make you more efficient today</li>
                <li>Scientific studies to improve your online marketing and effectiveness</li>
            </ul>
            <p>Enter your email and stay on top of things,</p>
            <form action="http://bufferapp.us7.list-manage.com/subscribe/post?u=8109206415f7c9e3b2ddc83ad&amp;id=603a8a5c03" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <div style="display: none;">
                    <div class="response" id="mce-error-response" style="display:none"></div>
                    <div class="response" id="mce-success-response" style="display:none"></div>
                </div>

                <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                <input id="MMERGE3" name="MMERGE3" type="hidden" value="slideup" />
                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
            </form><ul class="stb_social"></ul>
        </div>
    </div>
    <script type="text/javascript">
        var stb = {
            hascolsed: false,
            cookieLife: 30,
            triggerHeight: 60,
            stbElement: ""
        };
    </script>

    <script src="{{asset "/js/footer.js"}}"></script>
    <script type="text/javascript" src="//s3.amazonaws.com/scripts.hellobar.com/ad7f6940b0c55c89c16c04866ffc58df7f2c5769.js"></script>
    <span class="copyright">©2014 Buffer, Inc.</span>

    <!--twitter button script-->
    <script src="https://platform.twitter.com/widgets.js" type="text/javascript"></script>

    <!--Google +1 button script-->
    <script type="text/javascript">
        (function() {
            var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
            po.src = 'https://apis.google.com/js/plusone.js?onload=onLoadCallback';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
        })();
    </script>

    <!--LinkedIn button-->
    <script src="//platform.linkedin.com/in.js" type="text/javascript">lang: en_US</script>

    <!--Buffer's button -->
    <script src="https://d389zggrogs7qo.cloudfront.net/js/button.js"></script>

    <!--Facebook button script-->
    <script src="//connect.facebook.net/en_US/all.js#xfbml=1"></script>

    <!--Pocket button-->
    <script type="text/javascript">!function(d,i){if(!d.getElementById(i)){var j=d.createElement("script");j.id=i;j.src="https://widgets.getpocket.com/v1/j/btn.js?v=1";var w=d.getElementById(i);d.body.appendChild(j);}}(document,"pocket-btn-js");</script>

</body>
</html>


